{% extends 'info_page.html' %}

{% block text_h1 %}
Пополнение баланса
{% endblock %}


{% block text_p %}
<div class="text-start"><p>Вы можете пополнить баланс, чтобы в дальнейшем оплачивать с него ваши заказы. Комиссия за пополнение — 0%.</p>
    <br>
<p>Пока что все происходит в ручном режиме, по договоренности. <strong>Минимальная сумма пополнения — 500р</strong> (временное ограничение, скоро уберем). Для совершения транзакции свяжитесь с
    <a href="">нашим сотрудником</a>.</p>
    <br>
Обратите внимание, что данный сотрудник не является службой поддержки и не отвечает на различные вопросы, которые не касаются пополнения баланса. Пожалуйста, не беспокойте его зря, обратитесь в службу поддержки.</div>
{% endblock %}