<h2>Аккаунт</h2>
<h5 class="mb-3"><strong>1. Как узнать, находится ли продавец в сети или в автономном режиме?</strong></h5>
<p>Небольшой кружок рядом с именем пользователя каждого клиента Fiverr позволяет узнать, находится ли продавец, с
    которым вы работаете, в сети или в автономном режиме (зеленый — в сети, серый — в автономном режиме). Независимо от
    того, вошли ли вы в систему через настольный компьютер или мобильный телефон, вы можете быстро увидеть, какие
    продавцы доступны для немедленного ответа. Найдите статус продавца в его профиле, в диалогах «Входящие/Заказ» и на
    страницах Gig продавцов. Более того, вы можете фильтровать результаты рынка в соответствии с онлайн-продавцами — по
    категориям, подкатегориям и страницам расширенного поиска.</p>
<h2>Policies & safety</h2>
<h5 class="mb-3"><strong>1. What kind of information will Fiverr never ask me to provide?</strong></h5>

<p>We may ask for a few things, but we will never ask for:</p>
<ul>
    <li>
        Your password or sign-in credentials
    </li>
    <li>
        You to email us your password
    </li>
    <li>
        You to log into a site outside of the fiverr.com domain
    </li>
    <li>
        You to download or install an application
    </li>
</ul>
<p>If you receive any such request or message, please never download or run the applications or email attachments—they
are definitely not sent from us.</p>


<h5 class="mb-3"><strong>2. Is my personal information safe?</strong></h5>

<p>Your privacy is very important to us. Read our Privacy Policy, which is part of our Terms of Service, for more
information.</p>


<h5 class="mb-3"><strong>3. Can I pay my seller directly?</strong></h5>

<p>No, for your safety, all payments are made through Fiverr on the Order page and buyers pay for orders in advance.
Fiverr will not be able to assist if you pay a seller outside the platform. If you are asked to use an alternative
payment method, please report it to Customer Service immediately.</p>